html {
  -webkit-text-size-adjust: 100%;
  height: 100%;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

body {
  margin: 0;
  font-family: $font;
  text-align: center;
}

.os-theme-body {
  --os-size: 7px;
}

.os-theme-body .os-scrollbar-handle {
  background: $alpha;
  border-radius: 0px;
  height: 85px;
}

.os-theme-body .os-scrollbar-track {
  background: transparent;
}

h1 {
  font-size: clamp(17px, 2.5vw, 19px);
  color: $white;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.hr-container {
  max-width: 312px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 12px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-color: $bravo;
}

#canvas-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: auto;
}

#canvas-wrapper .quad {
  width: 100%;
  height: 100%;
  cursor: crosshair;
  image-rendering: pixelated;
  z-index: 1;
  border: 1px solid $charlie;
  border-radius: 5px;
}

#canvas-wrapper .fill {
  position: absolute;
  background-color: $bravo;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.output-container {
  aspect-ratio: 2 / 1;
}

.label-grid {
  color: $white;
  height: 100%;
}

.button {
  width: 80px;
  font-size: 12px;
}

.alert-success {
  font-size: 12px;
  height: 36px;
}

.spinner {
  object-fit: contain;
  object-position: bottom;
}
